<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>地価サイト更新中</title>
    <style>
        myHero {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            margin: auto;
            padding: 50px;
            font-size: 40px;
            text-align:center;
            width: 80%;
        }
    </style>
    </head>
<body>
<div>
    <myHero><br><br><br>{{ notice }}<br><br>株式会社AOBO<br>{{ date }}</myHero>
</div>
</body>
</html>